html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

body { 
	font-family: "Maison Neue", sans-serif; 
	background-color: white;  
background-size: 1200% 1200%;
cursor: cell;}

main {
  min-height: calc(100vh - 120px);
	margin-top: 100px; 
	margin-left: 42px; 
	margin-right: 42px;}

@media (min-width: 375px) {
    main { margin-top: 100px; 	
      	   margin-left: 20px; 
	  	   margin-right: 20px;} }
  
@media (min-width: 576px) {
    main { margin-top: 100px; 	
      	   margin-left: 20px; 
	  	   margin-right: 20px;} }

@media (min-width: 768px) {
    main { margin-top: 100px; 	
      	   margin-left: 42px; 
	  	   margin-right: 42px;} }

@media (min-width: 992px) {
    main { margin-top: 100px; 	
      	   margin-left: 42px; 
	  	   margin-right: 42px;} }

@media (min-width: 1200px) {
    main { margin-top: 100px; 	
      	   margin-left: 42px; 
	  	   margin-right: 42px;} }


#footer {
	position: fixed;}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.pa {padding-top: 0px; }
@media (max-width: 576px) {
      .pa { padding-top: 50px; } }



  /* ---------------------- NAVBAR  ---------------- */

#menu { 
	z-index: 99;
	position: fixed; 
	top: 0; 
	right: 0;
  	bottom: 0;
	height: 70px; 
  	left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
	margin-left: 42px; 
	margin-right: 42px;
	background: white;
      /* Old browsers */
      background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
  @media (max-width: 576px) {
    #menu {
      margin-left: 20px; 
	  margin-right: 20px;} }


.fixed-bottom {
	height: 40px;
	 z-index: 4;
	margin-left: 42px; 
	margin-right: 42px;
	padding-bottom: 10px ;
	background: white;
      /* Old browsers */
      background: -moz-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      /* FF3.6+ */
      background:  -webkit-gradient(linear, left bottom, left top, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
      /* Chrome,Safari4+ */
      background:to bottom -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      /* Chrome10+,Safari5.1+ */
      background:-o-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      /* IE10+ */
      background: to bottom linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */}
  @media (max-width: 576px) {
    .fixed-bottom {
      margin-left: 20px; 
	  margin-right: 20px;} }

.logo {
  height: 18px;
  position: relative; }
  @media (min-width: 768px) {
    .logo {
      height: 21px; }}
  @media (min-width: 1200px) {
    .logo {height: 30px; }}

.header{
  font-size: 27px; }
@media (max-width: 576px) {
	.header {font-size: 20px; }}



  /* ---------------------- CONTENT  ---------------- */
	::-moz-selection { /* Code for Firefox */
  color: #19372E;
  background: #C7FFCC;
}

::selection {
  color: #19372E;
  background: #C7FFCC;
}

.img-show {
		position: absolute; 
		z-index: 1;
		width: 400px; 
		left:166px; 
		display: none; 
	}
	
.hovering:hover + .img-show {
  display: block;
}	
	
@media (max-width: 576px) {
    .img-show {
      width: 200px;
		left:140px; } }		 
.font-m {
  font-family: "Maison Neue", sans-serif;
  font-size: 21px;
  letter-spacing: 0em;
  line-height: 1.4em;
  font-weight: 400;
  border-bottom-width: 1.5px;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-m {font-size: 15px; } }
  @media (min-width: 768px) {
    .font-m {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .font-m {
      font-size: 21px; } }

.font-l {
  font-family: "Maison Neue", sans-serif;
  font-size: 27px;
  letter-spacing: 0em;
  line-height: 1.25em;
  font-weight: 400;
  border-bottom-width: 1.5px;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-l {
      font-size: 27px; } }
  @media (min-width: 768px) {
    .font-l {
      font-size: 33px; } }
  @media (min-width: 1200px) {
    .font-l {
      font-size: 36px; } }		

font-s {
	 font-family: "Maison Neue", sans-serif;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.4em;
  font-weight: 400;
  border-bottom-width: 1px;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-s {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .font-s {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .font-s{
      font-size: 18px; } }

.font-xs {
  font-family: "Maison Neue", sans-serif;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 1.4em;
  font-weight: 400;
  border-bottom-width: 1px;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-xs {
      font-size: 12px; } }
  @media (min-width: 768px) {
    .font-xs {
      font-size: 13px; } }
  @media (min-width: 1200px) {
    .font-xs{
      font-size: 13.5px; } }

h2 {
   font-family: "Maison Neue", sans-serif;
  font-size: 27px;
  letter-spacing: 0em;
  line-height: 1.4em;
  font-weight: 400;
  border-bottom-width: 1.5px;
  font-stretch: normal;
  margin-bottom: 0.8em; }
  @media (max-width: 576px) {
    h2 {font-size: 15px;}}
  @media (max-width: 768px) {
    h2 {font-size: 20px;}}
 

h3 {
   font-family: "Maison Neue", sans-serif;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.4em;
  font-weight: 400;
  border-bottom-width: 1.5px;
  font-stretch: normal;
  margin-top: 3em;}
	@media (max-width: 576px) {
    h3 {
      font-size: 25px; } }
  @media (max-width: 576px) {
    h3 {
      font-size: 25px; } }
  @media (max-width: 768px) {
    h3 {
      font-size: 25px; } }
  @media (max-width: 1200px) {
    h3 {
      font-size: 27px; } }

	 
video {
    max-width: 100%;
    height: auto;
}


.spacer {height: 3em;}

.shadow {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);}

.blurr {
	color: black; 
		-webkit-transition: -webkit-filter 425ms cubic-bezier(.215, .61, .355, 1);
		transition: -webkit-filter 425ms cubic-bezier(.215, .61, .355, 1);
		transition: filter 425ms cubic-bezier(.215, .61, .355, 1);
		transition: filter 425ms cubic-bezier(.215, .61, .355, 1), -webkit-filter 425ms cubic-bezier(.215, .61, .355, 1);
}

.blurr:hover {
	 text-decoration: none; 
		-webkit-filter: blur(4px);
		filter: blur(4px);
		color: lightgray;}
	
span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}	


/* ARROW */

.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

